body{
    box-sizing: border-box;
    padding: 0;
    background-color: aquamarine;
}         

#container {
    display: flex;
    justify-content:space-around;
    background-image: url("https://flemistral78home.files.wordpress.com/2019/04/c6373-jokerhdwallpapers10.jpg");
    background-repeat: repeat;
}

#cont {
   display:block;
   width: 1000px;
   height:500px;
   background-color:rgba(177, 177, 161,0.5);
   
}
a{
    color: rgb(68, 68, 202);
    text-shadow: crimson;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aquamarine;
    padding:0.3em;
    text-decoration: none;
    font-weight: bolder;
}
div .tweet{
    padding:0.5em;
    margin:0.5em;
    background-color: aquamarine;
}
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: bolder;
    color:black;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-style: oblique;
    color:coral;
}
input {
    padding: 10px;
    margin: 5px
}
button {
    color:darkcyan;
    padding: 10px;
}